
.chat{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-header{
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
  background: #f4f4f4;
  position: sticky;
  border-radius: 0 0 0 20px;
}



.messages-window{
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-footer {
  display: flex;
  border-top: 1px solid #edf1f3;
  padding: 10px 20px;
  align-items: center;
  background-color: #fdfdfd;
  position: sticky;
  bottom: 0;
}

.chat-footer input {
  border: none;
  background-color: #e7e7e7;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 12px;
  width: 100%;
}

.send-button{
  border-style: none;
}



