
.chat{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-header{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  background: #f4f4f4;
}

.msg-container{
  width: 100%;
}

.msg-profile {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: -20px;
  position: relative;
}

.msg-user{
  font-size: 1em;
  font-weight: 600;
  color: black;
}
.msg-date {
  position: absolute;
  left: calc(100% + 12px);
  bottom: 0;
  font-size: 12px;
  font-weight: 600;
  color:  #c0c7d2;
  white-space: nowrap;
}

.msg {
  display: flex;
  padding: 0 20px 45px;
}
.msg-content {
  margin-left: 12px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.msg-text {
  background-color: #d5d2d2;
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;}


.chat-footer {
  display: flex;
  border-top: 1px solid #edf1f3;
  width: auto;
  padding: 10px 20px;
  align-items: center;
  background-color: #fdfdfd;
  position: sticky;
  bottom: 0;
  left: 0;
}

.chat-footer input {
  border: none;
  background-color: #e7e7e7;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 12px;
  width: 100%;
}

.send-button{
  border-style: none;
}

