

.example-spacer {
  flex: 1 1 auto;
  border-style: none;
}

.container{
  display: flex;
  flex-direction: row;
  height: 93vh;
}

.room-list{
  width: 300px;
  overflow-y: scroll;
}


.messages-container{
  width: 100%;
}

