<mat-toolbar class="header">
  <button mat-icon-button class="example-icon" >
    <mat-icon (click)="onPress()">menu</mat-icon>
  </button>
  <span>Web Chat</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="room-list" *ngIf="display">
    <app-room-list-item *ngFor="let room of rooms"
                        (roomSelected)="roomSelectedEvent($event)"
                        [room]="room"></app-room-list-item>
  </div>
  <div class="messages-container">
    <app-group-messages *mcRerender="roomId"></app-group-messages>
  </div>
</div>


<!--<router-outlet></router-outlet>-->
