.example-spacer {
  flex: 1 1 auto;
  border-style: none;
}

.container{
  display: flex;
  flex-direction: row;
  height: 850px;
}

.room-list{
  width: 300px;
  overflow: scroll;
}




.messages-container{
  width: 100%;
  overflow: scroll;
}

